.main {
    display: flex;
    background: grey;
    height: 100vh;
    padding: 16px;
}

.a {
    flex: 1;
    background: red;
    display: flex;
}

.b {
    flex: 2;
    flex-direction: column;
    display: flex;

}

.c {
    flex: 1;
    background: greenyellow;
    display: flex;
}

.d {
    flex: 1;
    display: flex;
}

.e {
    flex: 1;
    background: pink;
    display: flex;
}

.f {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.g1 {
    flex: 1;
    background: lightblue;
    display: flex;
}

.g2 {
    flex: 1;
    background: lightblue;
    display: flex;
}

.main, .b, .f, .d{
    gap: 16px;
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: monospace;
    /* font-weight: bold; */
    /* opacity: 0.5; */
  }